##### In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

- print the first 3 rows
- print the number of rows and columns (shape)
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on       these statistics?

In [12]:
import pandas as pd
import numpy as np
import os


# visualize
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(11, 9))
plt.rc('font', size=13)

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

# acquire
from env import host, user, password
from pydataset import data

In [31]:
import acquire
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [14]:
%run acquire

In [15]:


data('iris', show_doc=False)

df_iris = data('iris')

In [16]:
### Print first 3 rows

print(df_iris.head(3))

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [17]:
# print the number of rows and columns

print(df_iris.shape)

(150, 5)

In [18]:
# print the column names

print(df_iris.columns)

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [19]:
df_iris.columns.to_list()

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

In [20]:
# print the data type of each column

print(df_iris.dtypes)

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [21]:
# print the summary statistics for each of the numeric variables. 
# Would you recommend rescaling the data based on these statistics?

df_iris[["Sepal.Length", "Sepal.Width", "Petal.Length", "Petal.Width"]].describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [22]:
stats = df_iris.describe().T
stats

              count      mean       std  min  25%   50%  75%  max
Sepal.Length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal.Width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
Petal.Length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
Petal.Width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [23]:
stats['range'] = stats['max']-stats['min']

###### Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

- assign the first 100 rows to a new dataframe, df_excel_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

In [24]:
df_excel = pd.read_excel('excel_exercises.xlsx', sheet_name='Table1_CustDetails')
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7049 non-null   object
 1   gender             7049 non-null   object
 2   is_senior_citizen  7049 non-null   int64
 3   partner            7049 non-null   object
 4   dependents         7049 non-null   object
 5   phone_service      7049 non-null   int64
 6   internet_service   7049 non-null   int64
 7   contract_type      7049 non-null   int64
 8   payment_type       7049 non-null   object
 9   monthly_charges    7049 non-null   float64
 10  total_charges      7038 non-null   float64
 11  churn              7049 non-null   object
dtypes: float64(2), int64(4), object(6)
memory usage: 661.0+ KB

In [25]:
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes

In [26]:
# assign the first 100 rows to a new dataframe, df_excel_sample

df_excel_sample = df_excel.head(100)

In [27]:
# print the number of rows of your original dataframe

excel_index = df_excel.index

excel_rows = len(excel_index)

print(f'The number of rows in the excel data frame is {excel_rows}')

The number of rows in the excel data frame is 7049

In [28]:
df_excel.shape[0]

7049

In [ ]:
df_excel.columns.values

In [ ]:
# print the first 5 column names

print(df_excel[['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents']].head())

In [ ]:
# print the column names that have a data type of object

df_excel.dtypes

In [ ]:
excel_objects = df_excel.select_dtypes(include='object').columns.to_list()

print(excel_objects)

In [ ]:
print(df_excel[['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']].head())

In [ ]:
# compute the range for each of the numeric variables
df_excel.select_dtypes(include='float64').columns

(df_excel.select_dtypes(include='float64').max()) - (df_excel.select_dtypes(include='float64').min())

In [ ]:
# compute the range for each of the numeric variables

excel_numeric_range = (df_excel[['monthly_charges', 'total_charges']].max()) - (df_excel[['monthly_charges', 'total_charges']].min())
excel_numeric_range

###### Read the data from this google sheet into a dataframe, df_google

- print the first 3 rows
- print the number of rows and columns
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables
- print the unique values for each of your categorical variables

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

In [ ]:
# Use the replace method to modify our Google Sheet share url to be a csv export url.

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [ ]:
# Use read_csv() method to create our DataFrame.

df_google = pd.read_csv(csv_export_url)

type(df_google)

In [ ]:
# print the first 3 rows

df_google.head(3)

In [ ]:
# print the number of rows and columns

print(df_google.shape)

In [ ]:
# print the column names

print(df_google.columns.to_list())

In [ ]:
# print the data type of each column

print(df_google.dtypes)

In [ ]:
df_google.info()

In [ ]:
# print the summary statistics for each of the numeric variables

df_google[['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].describe()

In [ ]:
df_google.describe(include=[np.number])

In [ ]:
# print the unique values for each of your categorical variables

df_google.Name.unique()
df_google.Sex.unique()
df_google.Ticket.unique()
df_google.Cabin.unique()
df_google.Embarked.unique()


# df = df_googlesheet.select_dtypes(exclude=['int', 'float'])
# for col in df_columns:
#    print(df_[col].unique())

In [ ]:
# Below is the best way to count the unique values for each column name that has a data type as 'object'

for col in df_google:
    if df_google[col].dtypes == 'object':
        print(f'{col} has {df_google[col].nunique()} unique values.')

In [ ]:
for col in df_google.select_dtypes('object'):
    print(f'{col} has {df_google[col].nunique()} unique values')

In [ ]:
df_google.Survived.value_counts(dropna=False)

In [ ]:
df_google.Embarked.value_counts(dropna=False)# this allows for us to see how many NA values

In [ ]:
df_google[['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']]

#### Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [ ]:
# all of my functions are in my acquire.py file

In [ ]:
new_titanic_data()

In [ ]:
df_titanic = get_titanic_data()

In [ ]:
df_titanic.head()

In [ ]:
new_iris_data()

In [ ]:
new_df_iris = get_iris_data()

new_df_iris.head()

#### The end product of this exercise should be the specified functions in a python script named prepare.py. Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

 - This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.

###### Use the function defined in acquire.py to load the iris data.

In [33]:
iris_prac = acquire.get_iris_data()

iris_prac.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [45]:
missing = iris_prac.isnull().sum()

In [46]:
# observe how many columns have any missing values
missing[missing > 0]

Series([], dtype: int64)

In [47]:
iris_prac.shape

(150, 7)

##### Drop the species_id and measurement_id columns.

In [ ]:
iris_prac = iris_prac.drop(['species_id', 'measurement_id'], axis=1)

##### Rename the species_name column to just species.

In [ ]:
iris_prac = iris_prac.rename(columns={"species_name": "species"})

iris_prac.head()

##### Create dummy variables of the species name.

In [ ]:
iris_prac.species.value_counts()

In [ ]:
dummies = pd.get_dummies(iris_prac[['species']], drop_first=False)

In [ ]:
iris_prac = pd.concat([iris_prac, dummies], axis=1)

iris_prac.head()

##### Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [8]:
def clean_iris():
    '''
    prep_iris will take a dataframe acquired as df and remove species_id and 
    measurement_id. The function will then rename the species_name col to 'species'
    Finally, the categorical species name will have dummy values created for them and the
    table will be concatanted to bring it all together as on dataframe
    
    return: single cleaned dataframe
    '''
    iris_prac = acquire.get_iris_data()
    iris_prac.drop(['species_id', 'measurement_id'], axis=1, inplace=True)
    iris_prac.rename(columns={"species_name": "species"}, inplace=True)
    dummies = pd.get_dummies(iris_prac[['species']], drop_first=False)
    pd.get_dummies(iris_prac[['species']], drop_first=False)
    return pd.concat([iris_prac, dummies], axis=1)

In [9]:
clean_iris()

,sepal_length,sepal_width,petal_length,petal_width,species,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0
5,5.4,3.9,1.7,0.4,setosa,1,0,0
6,4.6,3.4,1.4,0.3,setosa,1,0,0
7,5.0,3.4,1.5,0.2,setosa,1,0,0
8,4.4,2.9,1.4,0.2,setosa,1,0,0
9,4.9,3.1,1.5,0.1,setosa,1,0,0
10,5.4,3.7,1.5,0.2,setosa,1,0,0
11,4.8,3.4,1.6,0.2,setosa,1,0,0
12,4.8,3.0,1.4,0.1,setosa,1,0,0
13,4.3,3.0,1.1,0.1,setosa,1,0,0
14,5.8,4.0,1.2,0.2,setosa,1,0,0
15,5.7,4.4,1.5,0.4,setosa,1,0,0
16,5.4,3.9,1.3,0.4,setosa,1,0,0
17,5.1,3.5,1.4,0.3,setosa,1,0,0
18,5.7,3.8,1.7,0.3,setosa,1,0,0
19,5.1,3.8,1.5,0.3,setosa,1,0,0
20,5.4,3.4,1.7,0.2,setosa,1,0,0
21,5.1,3.7,1.5,0.4,setosa,1,0,0
22,4.6,3.6,1.0,0.2,setosa,1,0,0
23,5.1,3.3,1.7,0.5,setosa,1,0,0
24,4.8,3.4,1.9,0.2,setosa,1,0,0
25,5.0,3.0,1.6,0.2,setosa,1,0,0
26,5.0,3.4,1.6,0.4,setosa,1,0,0
27,5.2,3.5,1.5,0.2,setosa,1,0,0
28,5.2,3.4,1.4,0.2,setosa,1,0,0
29,4.7,3.2,1.6,0.2,setosa,1,0,0
30,4.8,3.1,1.6,0.2,setosa,1,0,0
31,5.4,3.4,1.5,0.4,setosa,1,0,0
32,5.2,4.1,1.5,0.1,setosa,1,0,0
33,5.5,4.2,1.4,0.2,setosa,1,0,0
34,4.9,3.1,1.5,0.2,setosa,1,0,0
35,5.0,3.2,1.2,0.2,setosa,1,0,0
36,5.5,3.5,1.3,0.2,setosa,1,0,0
37,4.9,3.6,1.4,0.1,setosa,1,0,0
38,4.4,3.0,1.3,0.2,setosa,1,0,0
39,5.1,3.4,1.5,0.2,setosa,1,0,0
40,5.0,3.5,1.3,0.3,setosa,1,0,0
41,4.5,2.3,1.3,0.3,setosa,1,0,0
42,4.4,3.2,1.3,0.2,setosa,1,0,0
43,5.0,3.5,1.6,0.6,setosa,1,0,0
44,5.1,3.8,1.9,0.4,setosa,1,0,0
45,4.8,3.0,1.4,0.3,setosa,1,0,0
46,5.1,3.8,1.6,0.2,setosa,1,0,0
47,4.6,3.2,1.4,0.2,setosa,1,0,0
48,5.3,3.7,1.5,0.2,setosa,1,0,0
49,5.0,3.3,1.4,0.2,setosa,1,0,0
50,7.0,3.2,4.7,1.4,versicolor,0,1,0
51,6.4,3.2,4.5,1.5,versicolor,0,1,0
52,6.9,3.1,4.9,1.5,versicolor,0,1,0
53,5.5,2.3,4.0,1.3,versicolor,0,1,0
54,6.5,2.8,4.6,1.5,versicolor,0,1,0
55,5.7,2.8,4.5,1.3,versicolor,0,1,0
56,6.3,3.3,4.7,1.6,versicolor,0,1,0
57,4.9,2.4,3.3,1.0,versicolor,0,1,0
58,6.6,2.9,4.6,1.3,versicolor,0,1,0
59,5.2,2.7,3.9,1.4,versicolor,0,1,0
60,5.0,2.0,3.5,1.0,versicolor,0,1,0
61,5.9,3.0,4.2,1.5,versicolor,0,1,0
62,6.0,2.2,4.0,1.0,versicolor,0,1,0
63,6.1,2.9,4.7,1.4,versicolor,0,1,0
64,5.6,2.9,3.6,1.3,versicolor,0,1,0
65,6.7,3.1,4.4,1.4,versicolor,0,1,0
66,5.6,3.0,4.5,1.5,versicolor,0,1,0
67,5.8,2.7,4.1,1.0,versicolor,0,1,0
68,6.2,2.2,4.5,1.5,versicolor,0,1,0
69,5.6,2.5,3.9,1.1,versicolor,0,1,0
70,5.9,3.2,4.8,1.8,versicolor,0,1,0
71,6.1,2.8,4.0,1.3,versicolor,0,1,0
72,6.3,2.5,4.9,1.5,versicolor,0,1,0
73,6.1,2.8,4.7,1.2,versicolor,0,1,0
74,6.4,2.9,4.3,1.3,versicolor,0,1,0
75,6.6,3.0,4.4,1.4,versicolor,0,1,0
76,6.8,2.8,4.8,1.4,versicolor,0,1,0
77,6.7,3.0,5.0,1.7,versicolor,0,1,0
78,6.0,2.9,4.5,1.5,versicolor,0,1,0
79,5.7,2.6,3.5,1.0,versicolor,0,1,0
80,5.5,2.4,3.8,1.1,versicolor,0,1,0
81,5.5,2.4,3.7,1.0,versicolor,0,1,0
82,5.8,2.7,3.9,1.2,versicolor,0,1,0
83,6.0,2.7,5.1,1.6,versicolor,0,1,0
84,5.4,3.0,4.5,1.5,versicolor,0,1,0
85,6.0,3.4,4.5,1.6,versicolor,0,1,0
86,6.7,3.1,4.7,1.5,versicolor,0,1,0
87,6.3,2.3,4.4,1.3,versicolor,0,1,0
88,5.6,3.0,4.1,1.3,versicolor,0,1,0
89,5.5,2.5,4.0,1.3,versicolor,0,1,0
90,5.5,2.6,4.4,1.2,versicolor,0,1,0
91,6.1,3.0,4.6,1.4,versicolor,0,1,0
92,5.8,2.6,4.0,1.2,versicolor,0,1,0
93,5.0,2.3,3.3,1.0,versicolor,0,1,0
94,5.6,2.7,4.2,1.3,versicolor,0,1,0
95,5.7,3.0,4.2,1.2,versicolor,0,1,0
96,5.7,2.9,4.2,1.3,versicolor,0,1,0
97,6.2,2.9,4.3,1.3,versicolor,0,1,0
98,5.1,2.5,3.0,1.1,versicolor,0,1,0
99,5.7,2.8,4.1,1.3,versicolor,0,1,0
100,6.3,3.3,6.0,2.5,virginica,0,0,1
101,5.8,2.7,5.1,1.9,virginica,0,0,1
102,7.1,3.0,5.9,2.1,virginica,0,0,1
103,6.3,2.9,5.6,1.8,virginica,0,0,1
104,6.5,3.0,5.8,2.2,virginica,0,0,1
105,7.6,3.0,6.6,2.1,virginica,0,0,1
106,4.9,2.5,4.5,1.7,virginica,0,0,1
107,7.3,2.9,6.3,1.8,virginica,0,0,1
108,6.7,2.5,5.8,1.8,virginica,0,0,1
109,7.2,3.6,6.1,2.5,virginica,0,0,1
110,6.5,3.2,5.1,2.0,virginica,0,0,1
111,6.4,2.7,5.3,1.9,virginica,0,0,1
112,6.8,3.0,5.5,2.1,virginica,0,0,1
113,5.7,2.5,5.0,2.0,virginica,0,0,1
114,5.8,2.8,5.1,2.4,virginica,0,0,1
115,6.4,3.2,5.3,2.3,virginica,0,0,1
116,6.5,3.0,5.5,1.8,virginica,0,0,1
117,7.7,3.8,6.7,2.2,virginica,0,0,1
118,7.7,2.6,6.9,2.3,virginica,0,0,1
119,6.0,2.2,5.0,1.5,virginica,0,0,1
120,6.9,3.2,5.7,2.3,virginica,0,0,1
121,5.6,2.8,4.9,2.0,virginica,0,0,1
122,7.7,2.8,6.7,2.0,virginica,0,0,1
123,6.3,2.7,4.9,1.8,virginica,0,0,1
124,6.7,3.3,5.7,2.1,virginica,0,0,1
125,7.2,3.2,6.0,1.8,virginica,0,0,1
126,6.2,2.8,4.8,1.8,virginica,0,0,1
127,6.1,3.0,4.9,1.8,virginica,0,0,1
128,6.4,2.8,5.6,2.1,virginica,0,0,1
129,7.2,3.0,5.8,1.6,virginica,0,0,1
130,7.4,2.8,6.1,1.9,virginica,0,0,1
131,7.9,3.8,6.4,2.0,virginica,0,0,1
132,6.4,2.8,5.6,2.2,virginica,0,0,1
133,6.3,2.8,5.1,1.5,virginica,0,0,1
134,6.1,2.6,5.6,1.4,virginica,0,0,1
135,7.7,3.0,6.1,2.3,virginica,0,0,1
136,6.3,3.4,5.6,2.4,virginica,0,0,1
137,6.4,3.1,5.5,1.8,virginica,0,0,1
138,6.0,3.0,4.8,1.8,virginica,0,0,1
139,6.9,3.1,5.4,2.1,virginica,0,0,1
140,6.7,3.1,5.6,2.4,virginica,0,0,1
141,6.9,3.1,5.1,2.3,virginica,0,0,1
142,5.8,2.7,5.1,1.9,virginica,0,0,1
143,6.8,3.2,5.9,2.3,virginica,0,0,1
144,6.7,3.3,5.7,2.5,virginica,0,0,1
145,6.7,3.0,5.2,2.3,virginica,0,0,1
146,6.3,2.5,5.0,1.9,virginica,0,0,1
147,6.5,3.0,5.2,2.0,virginica,0,0,1
148,6.2,3.4,5.4,2.3,virginica,0,0,1
149,5.9,3.0,5.1,1.8,virginica,0,0,1

   ### Train, Test, Validate

In [34]:
train_validate, test = train_test_split(iris_prac, test_size=0.2, random_state=4040)

In [36]:
train, validate = train_test_split(train_validate, train_size=0.7, random_state=4040)

In [37]:
imputer = SimpleImputer(missing_values=None, strategy = 'most_frequent')

In [50]:
imputer = imputer.fit(train[['petal_width']])

ValueError: 'X' and 'missing_values' types are expected to be both numerical. Got X.dtype=float64 and  type(missing_values)=<class 'NoneType'>.