In [1]:
import pandas as pd
from sklearn.metrics import confusion_matrix

### Model Evaluation Exercise

#### (1) Create a new file named model_evaluation.py or model_evaluation.ipynb for these exercises.

##### (2) Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | actual cat | actual dog |
|:------------  |-----------:|-----------:|
| predicted cat |         34 |          7 |
| predicted dog |         13 |         46 |


- In the context of this problem, what is a false positive?
    - <b><i>Predicting cat when actually dog</i></b>
- In the context of this problem, what is a false negative?
    - <b><i>Predicting dog when actually cat</i></b>
- How would you describe this model?
    - <b><i>When looking at the model through the lense of 'actual cat' being our True Positive, the accuracy is 89% overall, the precision show we predicted people like cats right 83% of the time and our recall showed we predicted 72% of the time that people liked cats

#### (3) You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

- Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

In [5]:
c3 = pd.read_csv(r'/Users/davidberchelmann/codeup-data-science/classification-exercises/cs3.csv')

In [8]:
c3.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

##### - An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [26]:
pd.crosstab(c3.actual, c3.model1)

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [27]:
pd.crosstab(c3.actual, c3.model2)

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [28]:
pd.crosstab(c3.actual, c3.model3)

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [29]:
c3.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [30]:
c3['baseline_prediction'] = 'No Defect'

In [31]:
model_accuracy = (c3.model1 == c3.actual).mean()
baseline_accuracy = (c3.baseline_prediction == c3.actual).mean()

print(f'   model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model accuracy: 95.00%
baseline accuracy: 92.00%