In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from pydataset import data

#### Attendance Data

Load the attendance.csv file and calculate an attendnace percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [2]:
attendance = pd.read_csv('untidy-data/attendance.csv')

In [3]:
attendance.shape

(4, 9)

 - rename the column for students

In [4]:
attendance.columns = ['name', '2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08']

- melt the data

In [5]:
attendance = attendance.melt(id_vars=['name'], var_name='date', value_name = 'response')

In [6]:
attendance.head()

    name        date response
0  Sally  2018-01-01        P
1   Jane  2018-01-01        A
2  Billy  2018-01-01        A
3   John  2018-01-01        P
4  Sally  2018-01-02        T

- give the response categoricals a value

In [7]:
cleanup_nums = {"response": {"P": 1, "A": 0, "H": .5, "T": .9}}

In [ ]:
# another way to assign grades using a function

# def letter_grade(a):
#    if a == 'P':
#        return 1
#    elif a == 'H':
#        return .5
#    elif a == 'T':
#        return .9
#    else:
#        return 0
    
#df_melt('num_grade'} = df_melt['grade'].apply(letter_grade))

In [8]:
attendance = attendance.replace(cleanup_nums)
attendance.head()

    name        date  response
0  Sally  2018-01-01       1.0
1   Jane  2018-01-01       0.0
2  Billy  2018-01-01       0.0
3   John  2018-01-01       1.0
4  Sally  2018-01-02       0.9

In [9]:
attendance.groupby('name').response.mean()

name
Billy    0.5250
Jane     0.6875
John     0.9125
Sally    0.7625
Name: response, dtype: float64

#### Coffee Levels

Read the coffee_levels.csv file.
Transform the data so that each carafe is in it's own column.
Is this the best shape for the data?

In [10]:
coffee_levels = pd.read_csv('untidy-data/coffee_levels.csv')

In [11]:
coffee_levels.shape

(30, 3)

In [12]:
coffee_levels.head()

   hour coffee_carafe  coffee_amount
0     8             x       0.816164
1     9             x       0.451018
2    10             x       0.843279
3    11             x       0.335533
4    12             x       0.898291

In [13]:
coffee_levels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hour           30 non-null     int64
 1   coffee_carafe  30 non-null     object
 2   coffee_amount  30 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 848.0+ bytes

In [14]:
# coffee_crafes are labeled x, y, & z

In [15]:
coffee_levels = coffee_levels.pivot_table(index = ['hour'], 
                                    columns = 'coffee_carafe', values = 'coffee_amount', dropna=True)

In [16]:
coffee_levels.head()

coffee_carafe         x         y         z
hour
8              0.816164  0.189297  0.999264
9              0.451018  0.521502  0.915990
10             0.843279  0.023163  0.144928
11             0.335533  0.235529  0.311495
12             0.898291  0.017009  0.771947

In [17]:
coffee_levels.reset_index(inplace=True)

In [18]:
coffee_levels

coffee_carafe  hour         x         y         z
0                 8  0.816164  0.189297  0.999264
1                 9  0.451018  0.521502  0.915990
2                10  0.843279  0.023163  0.144928
3                11  0.335533  0.235529  0.311495
4                12  0.898291  0.017009  0.771947
5                13  0.310711  0.997464  0.398520
6                14  0.507288  0.058361  0.864464
7                15  0.215043  0.144644  0.436364
8                16  0.183891  0.544676  0.280621
9                17  0.391560  0.594126  0.436677

In [189]:
sns.lineplot(x= 'hour',
             y= 'coffee_amount',
             data = coffee_levels,
             hue = 'coffee_carafe'
            );

ValueError: Could not interpret value `coffee_amount` for parameter `y`

##### Cake Recipes

- Read the cake_recipes.csv data. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.
- Tidy the data as necessary.
- Which recipe, on average, is the best? recipe b
- Which oven temperature, on average, produces the best results? 275
- Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

In [19]:
cake = pd.read_csv('untidy-data/cake_recipes.csv')

In [20]:
cake.columns

Index(['recipe:position', '225', '250', '275', '300'], dtype='object')

In [21]:
# to tidy this data, I need to melt the data set by making oven_temp a column as well as tastiness

In [22]:
cake_melt = cake.melt(id_vars=['recipe:position'], var_name='oven_temp', value_name = 'tastiness')

In [23]:
cake_melt.head()

  recipe:position oven_temp  tastiness
0        a:bottom       225  61.738655
1           a:top       225  51.709751
2        b:bottom       225  57.095320
3           b:top       225  82.455004
4        c:bottom       225  96.470207

In [24]:
cake_melt.columns = ['cake_type', 'oven_temp', 'tastiness']

In [25]:
cake_melt

   cake_type oven_temp  tastiness
0   a:bottom       225  61.738655
1      a:top       225  51.709751
2   b:bottom       225  57.095320
3      b:top       225  82.455004
4   c:bottom       225  96.470207
5      c:top       225  71.306308
6   d:bottom       225  52.799753
7      d:top       225  96.873178
8   a:bottom       250  53.912627
9      a:top       250  52.009735
10  b:bottom       250  61.904369
11     b:top       250  95.224151
12  c:bottom       250  52.001358
13     c:top       250  82.795477
14  d:bottom       250  58.670419
15     d:top       250  76.101363
16  a:bottom       275  74.414730
17     a:top       275  68.576858
18  b:bottom       275  61.196980
19     b:top       275  98.594881
20  c:bottom       275  92.893227
21     c:top       275  92.098049
22  d:bottom       275  51.747686
23     d:top       275  59.571620
24  a:bottom       300  98.786784
25     a:top       300  50.228470
26  b:bottom       300  99.248541
27     b:top       300  58.169349
28  c:bottom       300  65.473084
29     c:top       300  53.960273
30  d:bottom       300  56.183110
31     d:top       300  50.971626

In [26]:
cake_melt[['recipe', 'position']]= cake_melt.cake_type.str.split(':', expand = True)

In [27]:
cake_melt.head()

  cake_type oven_temp  tastiness recipe position
0  a:bottom       225  61.738655      a   bottom
1     a:top       225  51.709751      a      top
2  b:bottom       225  57.095320      b   bottom
3     b:top       225  82.455004      b      top
4  c:bottom       225  96.470207      c   bottom

In [28]:
cake_melt.drop(columns = 'cake_type', inplace = True)

In [29]:
cake_melt.head()

  oven_temp  tastiness recipe position
0       225  61.738655      a   bottom
1       225  51.709751      a      top
2       225  57.095320      b   bottom
3       225  82.455004      b      top
4       225  96.470207      c   bottom

In [30]:
# rearrange columns

cake_melt = cake_melt[['recipe', 'position', 'oven_temp', 'tastiness']]

In [31]:
cake_melt.head()

  recipe position oven_temp  tastiness
0      a   bottom       225  61.738655
1      a      top       225  51.709751
2      b   bottom       225  57.095320
3      b      top       225  82.455004
4      c   bottom       225  96.470207

In [69]:
# Which recipe, on average, is the best?

cake_melt.groupby('recipe').tastiness.mean()

recipe
a    63.922201
b    76.736074
c    75.874748
d    62.864844
Name: tastiness, dtype: float64

In [190]:
cake_melt.groupby('recipe').tastiness.mean().max()

76.73607424644435

In [192]:
cake_melt.groupby('recipe').tastiness.mean().idxmax()

'b'

In [71]:
# Which oven temperature, on average, produces the best results? 

cake_melt.groupby('oven_temp').tastiness.mean()

oven_temp
225    71.306022
250    66.577437
275    74.886754
300    66.627655
Name: tastiness, dtype: float64

In [103]:
# Which combination of recipe, rack position, and temperature gives the best result? 

cake_melt.nlargest(1, 'tastiness')

   recipe position oven_temp  tastiness
26      b   bottom       300  99.248541

In [196]:
cake_melt.groupby(['oven_temp', 'recipe', 'position']).tastiness.mean().idxmax()

('300', 'b', 'bottom')

In [82]:
cake_tidy = cake_melt.pivot_table(index = ['recipe', 'oven_temp'],
                                       columns = 'position', values = 'tastiness')

In [83]:
cake_tidy

position             bottom        top
recipe oven_temp
a      225        61.738655  51.709751
       250        53.912627  52.009735
       275        74.414730  68.576858
       300        98.786784  50.228470
b      225        57.095320  82.455004
       250        61.904369  95.224151
       275        61.196980  98.594881
       300        99.248541  58.169349
c      225        96.470207  71.306308
       250        52.001358  82.795477
       275        92.893227  92.098049
       300        65.473084  53.960273
d      225        52.799753  96.873178
       250        58.670419  76.101363
       275        51.747686  59.571620
       300        56.183110  50.971626

In [84]:
cake_tidy.reset_index(inplace=True)

In [85]:
cake_tidy.head()

position recipe oven_temp     bottom        top
0             a       225  61.738655  51.709751
1             a       250  53.912627  52.009735
2             a       275  74.414730  68.576858
3             a       300  98.786784  50.228470
4             b       225  57.095320  82.455004

In [101]:
cake_tidy.groupby(['oven_temp']).bottom.max()

oven_temp
225    96.470207
250    61.904369
275    92.893227
300    99.248541
Name: bottom, dtype: float64

In [95]:
cake_tidy.groupby(['recipe', 'oven_temp']).top.max()

recipe  oven_temp
a       225          51.709751
        250          52.009735
        275          68.576858
        300          50.228470
b       225          82.455004
        250          95.224151
        275          98.594881
        300          58.169349
c       225          71.306308
        250          82.795477
        275          92.098049
        300          53.960273
d       225          96.873178
        250          76.101363
        275          59.571620
        300          50.971626
Name: top, dtype: float64

In [104]:
gapminder1 = pd.read_csv('untidy-data/gapminder1.csv')

In [113]:
gapminder1.columns

Index(['year', 'country', 'measure', 'measurement'], dtype='object')

In [124]:
gapminder1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2079 entries, 0 to 2078
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         2079 non-null   int64
 1   country      2079 non-null   object
 2   measure      2079 non-null   object
 3   measurement  2079 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 65.1+ KB

In [134]:
gapminder1.shape

(2079, 4)

In [178]:
gap_pivot = gapminder1.pivot_table(index = ['country', 'year'],
                                       columns = 'measure', values = 'measurement')

In [179]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [180]:
gap_pivot.head()

measure           fertility  life_expect         pop
country     year
Afghanistan 1955       7.70        30.33  8891209.00
            1960       7.70        32.00  9829450.00
            1965       7.70        34.02 10997885.00
            1970       7.70        36.09 12430623.00
            1975       7.70        38.44 14132019.00

In [188]:
gap_pivot.nlargest(1, 'life_expect')

measure       fertility  life_expect          pop
country year
Japan   2005       1.27        82.60 127417244.00